tags/serene.0.6.1/testSuite/tests/unit/elementConflictIntegration/inContextHandling/ambiguousUnresolved/schema.rng

<?xml version="1.0" encoding="utf-8"?>
<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
  <choice>
    <element name="bar">
      <attribute name="baz"/>
    </element>
    <element name="bar">
      <element name="baz">
          <empty/>
        </element>
    </element>
    <element name="bar">
      <value>baz</value>
    </element>
  </choice>
</element>
