tags/serene.0.6.1/testSuite/tests/unit/internalConflict/populateConflictDescriptor/schema.rng

<?xml version="1.0" encoding="utf-8"?>
<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
    <choice>
    <group>
        <attribute name="baz1"/>
        <element name="bar">
          <attribute name="baz1"/>
        </element>        
    </group>   
    <group>
        <attribute name="baz2"/>
        <element name="bar">
          <attribute name="baz2"/>
        </element>        
    </group> 
  </choice>
</element>
